* {
  box-sizing: border-box;
}

html {
  width: 85%;
  margin: 5% auto;
}

main {
  height: auto;
  width: 100%;
}


/* 1st Section */

.container {
  border: 2px solid black;
  width: 100%;
  height: 33%;
  margin: 2% auto;
  padding: 2%;
}

.color-box {
  border: 1px solid black;
  text-align: center;
  position: relative;
  width: 20%;
  margin: 5% 2%;
  display: inline-block;
}

.skyblue {
  background-color: #479AD1;
}

.marine-blue {
  background-color: #2C365E;
}

.purple-pink {
  background-color: #C9A2D2;
}

.darkgray {
  background-color: #36393A;
}

#colors p {
  color: white;
}

/* Second Section */

#fonts {
  text-align: center;
}

#fonts h2 {
  text-align: left;
}

#fonts p {
  font-size: 1.2rem;
}

.inline-bloc {
  display: inline-block;
  margin: 2% 5%;
}


.avro .avro-normal {
  font-family: 'Avro', Serif;
}

.avro .avro-bold, 
.lato .lato-bold {
  font-weight: bold;
}

.avro .avro-em, 
.lato .lato-em {
  font-style: italic;
}

/* 3rd Section */


.h1-main-heading {
  font-family: 'Avro', Serif;
  font-size: 44px;
  font-weight: 700;
}

.h2-subheading {
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  font-weight: 500;
}

.p-text {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
} 